:root {
    cursor: pointer;
}

body {
    margin: 0;
    border: 0;
    text-align: center;
    background-color: #565c5c;
    color: #DBDCDE;
}

body::-webkit-scrollbar {
    display: none;
}

h2 {
    text-decoration: underline;
}

h3 {
    text-decoration: none;
    font-weight: normal;
}

ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

ul li {
    margin: 0;
    padding: 0;
}

#main-flex {
    display: flex;
}

#main-flex #left {
    flex: 20%;
    border: 0;
    border-right: .25vw;
    border-color: #73C2FB;
    border-style: solid;
    overflow-y: scroll;
    height: 100vh;
    line-height: 20px; /* weird fix for scrollbars */
}

#main-flex #left::-webkit-scrollbar {
    display: none;
}

#main-flex #right {
    flex: 80%;
    height: 100vh;
    overflow-y: scroll;
    margin-left: 5%;
    margin-right: 5%;
}

#main-flex #right::-webkit-scrollbar {
    display: none;
}

